@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Montserrat:wght@500;600;900&display=swap');
body
{
  margin: 0;
  padding: 0;
  background: #0f0526 !important;
  color: white;
  font-family: 'montserrat';
  overflow-x: hidden !important;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    align-items: center;
}

.logo{
    width: 15%;
}
.logo img{
  width:150px;
  height:150px
}

#menuToggle {
    display: flex;
    justify-content: center;
    width: 70%;
}
#menu{
    display: flex;
    justify-content: space-between;
    width: 57%;
    align-items: center;
}
#menu li{
    color: #cdcdcd;
    font-weight: 600;
    font-family: 'montserrat alternates';
    font-size: 20px;
    transition: ease-out 1s;

  }
#menu li:hover{
    color: blue;
    transition: ease-in 1s;
  }
#menu a{
    text-decoration: none !important;
    list-style: none !important;}

.btn{
    width: 12%;
    height: 10%;
    display: flex;
    align-items: center;
}

.intro{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}
.intro-text{
    width: 55%;
    color: #cdcdcd;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.intro-text h1{
    font-size: 50px;
    color: #cdcdcd;
    font-family: 'montserrat';
}
.intro-text h1 span{
    font-size: 50px;
    font-family: 'montserrat alternates';
    background: linear-gradient(to right, #4A90E2, #7D3F98);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline;
}
.intro-text p{
    margin-top: 3%;
    width: 90%;
}
.intro-img{
    width: 50%;
    display: flex;
    justify-content: center;
}

.intro-img img{
    width: 520px;
    height: 380px;
    border-radius: 15px;
}

input{
    width: 70% ;
    padding: 10px;
    background: none !important;
    outline: none !important;
    border: none !important;
}

.email{
  border-radius: 25px;
  outline: 1px solid rgb(21, 5, 100);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 80%;
}
.email span{
  width: 6%;
  height: 5vh;
  display: flex;
  align-items: center;
  border-right: 1px solid white;
}
.email input{
  width: 50%;
  color: white;
}
.mail-btn{
    width: 40%;
    font-size: 15px !important;
    background-color:#0f0526;
    border: none !important;
    color: white;
    padding: 15px !important;
    text-transform: capitalize;
    font-family: 'montserrat alternates';
} 
.mail-btn:hover{
    background-color: rgb(23, 207, 145) !important;
    transition: ease-in-out 1s;
}

/* --------------------WORK DETAILS-------------- */
.work-details{
    background: #0a0219;
    border-radius: 25px;
    width: 95%;
    padding: 27px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
#worked{
    border: none;
}
.hours{
    width: 23.75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-left: 1px solid white;
    height: 12vh;
    line-height: 0%;
}
.hours h1{
    display:flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    align-items: center;
    font-family: 'montserrat';
    font-weight:600;
}
.hours p{
    display:flex;
    justify-content: center;
    color: white;
    font-size: 17px;
    font-family: 'montserrat alternates';
    font-weight:400;
}


/* ------------------OFFERS SECTION-------------- */
.offers-text{
    color: white;
    font-family: 'montserrat';
}
.grid-item{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  width: 97%;
  margin: auto;
  max-width: 1100px;

}
.card{
  /* display: flex; */
  width: 30%;
  height: auto;
  padding: 30px;
  background: #0a0219 !important;
  color: white !important;
  /* outline: 1px solid white; */
  border-radius: 20px !important;
}

.card-image{
  display: flex;
  justify-content: center;
}
.card-image img{
  width: 250px;
  height: 230px;
}
.card-text{
  margin-top: 5%;
}
.card-text h1{
  font-size: 20px !important;
  font-family: 'montserrat';
  font-weight: 600;
  text-transform: capitalize;
}
.card-text h1{
  font-size: 15px;
  font-family: 'montserrat alternates';
}
/* -------------------Hair Care ------------ */
.hair-care{
  width: 98%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-between;

}
.hair-care-img{
width: 50%;
height: 100vh;
display: flex;
align-items: center;
}

.hair-care-img img{
  width: 500px;
  height: 400px;

  margin: auto;
}
.hair-care-text{
  width: 47%;
  color: white;
  margin: auto;
}
.hair-care-text h1{
  font-family: 'montserrat';
  font-size: 35px;
  font-weight: 600;
}
.hair-care-text p{
  font-family: 'montserrat';
  font-size: 15px;
  margin: 8% 0% 8% 0%;
  /* font-weight: 600; */
}
.hair-care-box{
  display: flex;
  justify-content: space-between;
}
.mission,.vision{
  background-color: #0a0219;
  /* outline: 1px solid white; */
  width: 47%;
  height: auto;
  border-radius:20px ;
  padding: 25px;
}
.mission h1 ,.vision h1{
  font-family: 'montserrat';
  font-size: 20px;
  font-weight: 600;
}
.available{
  width: 98%;
  /* height: 70vh; */
  padding: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  background-color: #0a0219;
  border-radius: 15px;
  /* outline: 1px solid white; */
}
.available-text{
  width: 65%;
  color: white;
  font-family: 'montserrat';
}
.available-text h1{
  font-weight: 600;
  font-size: 40px;
}
.available-text h1 span{
    background: linear-gradient(to right, #4A90E2, #7D3F98);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline;
}
.available-text p{
  font-weight: 600;
  margin: 6% 0% 8% 0%;
}

/* -------------------Footer----------------- */
footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  height: 50vh;
}
.footer-sec{
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.barberx{
  width: 47%;
}
.barberx p{
  width: 90%;
  margin: auto;
  font-family: 'montserrat alternates';
  margin-top: 5%;
}
.links{
  display: flex;
  justify-content: space-between;
  width: 44%;
}
.links img{
  width: 30px;
  height: 30px;
  background-color:#5015be;;
  border-radius: 5px;
  transition: ease-in 0.33s;

}
.links img:hover{
  transform: translateY(-10px);
  transition: ease-in 0.53s;
}
.footer-nav{
  width: 43%;
  display: flex;
  justify-content: space-between;
}

.company h1{
  font-family: 'montserrat';
  font-size: 23px;
}
.company li{
  font-family: 'montserrat alternates';
  font-size: 18px;
  list-style: none;
  margin-top: 10%;
}
.company li:hover{
  color:  #5015be;
  cursor: pointer;
}
.sudeen{
  width: 100%;
  background-color: #0a0219;
  color: white;
  font-family: 'montserrat';
  font-size: 5px;
  text-transform: capitalize;
}
.sudeen-text{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.sudeen p{
  font-family: 'montserrat';
  font-size: 20px;
  text-transform: capitalize;
}
.sudeen-text p span{
  font-family:'montserrat alternates';
  font-weight: 500;
}




























@media only screen and (max-width: 768px) {
  .nav{
    display: flex;
    justify-content: space-between;
  }
  .logo{
    height: 70px;
    width: 80px;
  }
 #menuToggle
 {
   display: block;
   position: relative;
   top: 7px;
   right: 10px;
   width: 10%;

   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   cursor: pointer;
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   -webkit-touch-callout: none;
 }
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: #cdcdcd;
   border-radius: 3px;
   z-index: 1;
   transform-origin: 4px 0px;
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 #menu
 {
   display: flex;
   flex-direction: column;
   position: absolute;
   width: 500px;
   margin: -100px 0px 0 -380px;
   padding: 50px;
   padding-top: 125px;
   background: #0b0429;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   transform-origin: 0% 0%;
   transform: translate(-250%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }


 /* -------------intro---- */
 .intro{
  flex-direction: column;
  width: 90%;
  margin: auto;
 }
 .intro-text h1 , .intro-text h1 span{
  font-size: 25px;
 }
 .intro-text p{
  font-size: 14px;
  margin-top: 5%;
 }
 .intro-img{
  width: 98%;
 }
 .intro-img img{
  width: 95%;
  height: 60%;
  margin-top: 5%;
 }
 .intro-text ,.intro-text p{
  width: 90%;
  margin: auto;
  text-align: center;
 }
 .email{
  margin:5% auto ;
 }
 .work-details{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 90%;
  height: 50vh;
 }
 .hours, #worked{
  height: 20vh;
  width: 80%;
  border-left: none;
  border-bottom: 1px solid white;
 }
 .hours h1{
  font-size: 20px;
 }
 .hours p{
  font-size: 10px;
  width: 100%;
 }
 #years{
  border-bottom: none;
 }
 .grid-item{
  flex-direction: column;
 }
 .card{
  width: 90%;
  margin: auto;
 }
 .card-image img{
  width: 150px;
  height: 150px;
 }
 .hair-care{
  flex-direction: column;
  height: auto;
 }
 .hair-care-img{
  width: 100%;
  height: auto; 
  display: flex;
  align-items: start;
  margin-top: 0%;
 }
 .hair-care-img img{
  width: 230px;
  height: 200px;
  display: flex;
  align-items: start;
  margin-top: 0%;
 }
 .hair-care-text{
  width: 82%;
  margin-top: 5%;
 }
 .hair-care-text h1{
  font-size: 20px;
 }
 .hair-care-box{
  flex-direction: column;
  gap: 20px;
 }
 .mission ,.vision{
  width: 80%;
  margin: auto;
 }
 .offers{
  width: 80%;
  margin: auto;
 }
 .offers-text h1{
  font-size: 15px;
 }
 .offers-text p{
  font-size: 10px;
 }
 .available{
  width: 90%;
  /* height: auto; */
  margin: auto;
 }
 .available-text{
  width: 120%;
  margin: 0;
  padding: 0;
 }
 .available-text h1{
  font-size: 15px;
 }
 .available-text p{
  font-size: 10px;
 }
 .available-text button{
  font-size: 10px !important;
  width: 100%;
 }
 footer{
  height: 100vh;
 }
 .footer-sec{
  flex-direction: column;
  width: 100%;
  height: 70vh;
 }
 .footer-nav{
  width: 95%;
  margin: auto;
 }
 .footer-sec{
  width: 95%;
  margin: auto;
 }
 .barberx{
  width: 95%;
  height: 70vh;
  margin: auto;
 }
 .logo{
  height: 20vh;
 }
 .links{
  justify-content: space-between;
  width: 50%;
  margin: auto;
 }
 .sudeen-text{
  display: flex;
  flex-direction: column;
 }
}